.newBooksContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-top: 3rem;

  @media (max-width: 768px) {
    width: 90%;
    margin-left: 1rem;
  }

  .wrapTexts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    h2 {
      font-size: 1.2rem;
    }

    button {
      align-items: center;
      color: var(--blue);
      font-size: 1rem;
      border: 0;
      background: none;
    }
  }
}

.newBooksList {
  display: flex;
  align-items: center;
  width: 90vw;
  margin-top: 1rem;

  overflow-x: scroll;
  overflow-y: hidden;

  @media (max-width: 480px) {
    width: 32rem;
  }

  a {
    width: 20rem;
    outline: none;
    text-decoration: none;
    margin-right: 1.5rem;

    background: url("../../assets/Oval.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;

    @media (max-width: 768px) {
      width: 17rem;
    }
  }

  .bookCard {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.2rem;

    img {
      border-radius: 6px;
      width: 8rem;
      height: 9.5rem;

      @media (max-width: 480px) {
        width: 4.5rem;
        height: 7rem;
      }
    }

    .bookCardHero {
      display: flex;
      flex-direction: column;

      h2 {
        margin-top: 0.5rem;
        font-size: 0.75rem;
        color: var(--white);
        font-weight: 700;

        width: 90%;

        @media (max-width: 480px) {
          font-size: 0.65rem;
        }
      }

      span {
        font-size: 0.6rem;
        color: var(--white);

        width: 90%;
        margin-top: 0.6rem;
      }
    }
  }
}

.readers {
  display: flex;
  align-items: center;

  margin-top: auto;
  svg {
    color: #c8c8c8;
  }

  span {
    margin-left: 0.25rem;
    font-size: 0.75rem;
  }
}
